.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: white;
    height: 10vh;
}

.mobile-menu{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0,0,0, 0.3);
}

.mobile-menu nav{
    width: 85%;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 0;
}

.mobile-menu  ul{
    list-style:none;
}

.mobile-menu li{
    text-align: center;
    margin: 20px 0;
    font-weight: var(--fw-medium);
    font-size: 1.2rem;
    color:rgba(0,0,0, 0.6);
}