.intro{
    width: 100vw;
    height: 100vh;
}

.hero{
    width: 100%;
    height: 55vh;
    background-image: url(../images/bg-intro-mobile.svg); 
}

.hero img{
    width: 90%;
    height: auto;
    margin-left: 5%;
    transform: translateY(-13%);
}

.intro-text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-weight: var(--fw-medium);
    color: rgba(0,0,0,0.7);
    line-height: 2.4rem;
}

p{
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: .9rem;
    line-height: 1.5rem;
    color: rgba(0,0,0,0.7);
}