.latest{
    padding: 70px 0;
}

.latest h2{
    text-align: center;
    margin-bottom: 30px;
}

.latest-section{
    width: 85%;
    margin: 15px auto;
    border-radius: 5px;
    overflow: hidden;
    background: white;  
}

.latest-section img{
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 10px;
}

.article-text{
    width: 85%;
    margin:0 auto;
}

.author-tag{
    font-weight: var(--fw-light);
    font-size: .7rem;
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}

.latest-section p{
    margin-top: 5px;
    font-size: .8rem;
}

@media(min-width:1000px){

    .latest h2{
        width: auto;
        color: var(--clr-primary-1);
        text-align: left;
        font-weight: var(--fw-medium);
        font-size: 2.5rem;
        line-height: 2rem;
        margin-left: 11% ;
    }

    .articles-wrapper{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .latest-section img{
        width: 100%;
        aspect-ratio: 5/4;
        margin-bottom: 10px;
    }
}